[submodule "SC2006/TwoTyred"]
	path = SC2006/TwoTyred
	url = https://github.com/chayhuixiang/TwoTyred.git
[submodule "SC2002/MOBLIMA"]
	path = SC2002/MOBLIMA
	url = https://github.com/chayhuixiang/MOBLIMA.git
[submodule "SC1015/ahamazon-mssql-db"]
	path = SC1015/ahamazon-mssql-db
	url = https://github.com/chayhuixiang/ahamazon-mssql-db
[submodule "SC2207/ahamazon-mssql-db"]
	path = SC2207/ahamazon-mssql-db
	url = https://github.com/chayhuixiang/ahamazon-mssql-db
[submodule "SC1015/OPTIMU-Analytics"]
	path = SC1015/OPTIMU-Analytics
	url = https://github.com/chayhuixiang/OPTIMU-Analytics.git
